 .header {
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  .create-list-btn {
    background-color: #ffc107;
    color: #000;
    border: none;
    margin-top: 50px;
    width: 200px;
   
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit {
   background: none;
    color: #ffffff;
    margin-right: 10px;
    border: none;
  }
  
  .public-toggle {
    color: #fff;
  }
  

  .content-section {
    padding: 20px 0;
  }
  
  .empty-list h5 {
    text-align: center;
    margin-top: 20px;
  }
  
  .more-to-explore {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .explore-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .feedback {
    padding: 20px;
    background-color: #fff;
    
    border: 1px solid #ddd;
  }

  .explore-item a{
    color: #000;
    text-decoration: none;
    
  }
  
  .color {
    color: #ffc107;
  }

  .feedback a{
    text-decoration: none;

  }