.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    margin-top: 130px;
  }
  
  .footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    margin-bottom: 5em;
  }
  
  .footer-link {
    color: white;
    text-decoration: underline;
  }

  .color{
   color: #ffc107;
  }

  .contact{
    margin-bottom: 50px;

  }

  .c{
    color: gray;
    position: relative;
    bottom: 0;
  }

  @media (max-width: 576px) {
    .fontSize{
      font-size: 60%;
    }
    .footer{
      margin-top: 0;
    }
  }
  