/* navbar border */
.fullNave{
  box-shadow: 1px 1px 10px 8px rgba(245, 197, 24, 0.2);
}


.search-category {
  height: 2.3rem;
  width: 50px;
  padding: 8px 0;
}


/* outline of search input */
.search-input {
  padding: 8px;
  border: none;
  outline: none !important;
  width: 200px;
}

.outline:focus {
  outline: none !important;
  border:1px solid rgb(255 193 7);
  box-shadow: 0 0 10px rgb(255 193 7);
}
.shadow-black:focus{
  outline: none !important;
  border:1px solid rgb(5, 5, 5);
  box-shadow: 0 0 10px rgb(6, 6, 6);

}
/* ------------------------------- */
#navbarContent{
  margin-left: 0 !important; 
}
.menu{
  color: #fff;
  border-radius: 10px;
  padding: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.menu:hover{
  background-color: rgba(93, 92, 92, 0.425);
}

.menu:active{
  background-color: rgba(105, 104, 104, 0.425);
}



@media (max-width: 650px) {
  /* .nav {
    display: block;
    margin-right: 8rem;
  } */
  /* .nav-links,
  .navbar-language{
    margin-left: 4rem;
    margin-bottom: 1rem;
  } */
  .width-100{
  width: 100%;
}
}
@media (min-width: 850px) {
  .search-input {
    width: 250px;
  }
  .width-100{
    width: auto;
  }
  
}
@media (min-width: 1000px) {
  .search-input {
    width: 350px;
  }
}
@media (min-width: 1100px) {
  .search-input {
    width: 450px;
  }
}





/* .nav{
  justify-content: space-between;
  flex-wrap: nowrap;
  border: none !important;
} */

 /* .navbar-language button {
  background: none;
  border: 1.5px rgb(245, 198, 24) solid;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-left: 7px;
} */
 /* .nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
} */