*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .movie-card {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .movie-card img {
    border-radius: 5px;
    width: 80px;
    height: 120px;
    object-fit: cover;
  }
  .movie-info {
    margin-left: 15px;
  }
  .movie-name {
    color: black ;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
  }
  .movie-genre {
    margin: 5px 0;
    color: #666;
  }
  .movie-cast {
    color: #666;
  }
  .bookmark {
    margin-left: auto;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #dcdbdb92;
    color: black;
    text-align: center;
  }
  .bookmark:hover {
    background-color: #bcbbbbcc;
  }
  
  